<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My First List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-grid *ngIf="usuarios">
    <ion-row>
      <ion-col col-6 *ngFor="let usuario of usuarios">


   
   <!-- 
           <video width="100%" heigth="100% " controls  poster="http://videos.eventoz.tv/cc-content/uploads/thumbs/{{usuario.filename}}">
          
          <source src="http://videos.eventoz.tv/cc-content/uploads/h264/movies/{{usuario.filename}}" type="video/mp4">
          
           
            Your browser does not support HTML5 video.
          </video> -->
  

           <!-- <video width="100%" heigth="100% " controls  poster="http://videos.eventoz.tv/cc-content/uploads/thumbs/{{usuario.filename}}" >
            
          </video> -->

          <ion-img width="100px" heigth="600px" src="http://videos.eventoz.tv/cc-content/uploads/thumbs/{{usuario.filename}}" (click)="goToDetail(movie)"></ion-img>
          
           <!--  <ion-img width="100%" heigth="100px"  src="http://videos.eventoz.tv/cc-content/uploads/thumbs/{{usuario.filename}}" (click)="goToDetail(movie)"></ion-img> -->
       
      </ion-col>
    </ion-row>
  </ion-grid>

<!--   <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
    <button ion-button color="light">Light</button>

  </ion-list> -->
</ion-content>

